  <p id="tiptop">Password Checker</p>


<form id="droptop" action="check_password" method="get">
  <input type="text" name="username" placeholder="User Name"/>
  <input type="text" name="password" placeholder="Password"/>
  <input type="submit" value="Password"/>
</form>
<br>
<p>Username: <%= @username %> </p>
<p>Password: <%= @password %> </p>
<hr/>
<br>
